---
- name: Create the node_exporter user
  ansible.builtin.user:
    name: "{{ _node_exporter_system_user }}"
    password: "!"
    shell: /sbin/nologin
    system: true
    create_home: false
    home: /
    state: present
  when: _node_exporter_system_user != "root"

- block:
    - name: Download node_exporter binary to local folder
      become: false
      ansible.builtin.get_url:
        url: "https://github.com/prometheus/node_exporter/releases/download/v{{ node_exporter_version }}/node_exporter-{{ node_exporter_version }}.linux-{{ go_arch }}.tar.gz"
        dest: "/tmp/node_exporter-{{ node_exporter_version }}.linux-{{ go_arch }}.tar.gz"
        mode: 0644
      register: _download_binary
      until: _download_binary is succeeded
      retries: 5
      delay: 2
      check_mode: false

    - name: Unpack node_exporter binary
      ansible.builtin.unarchive:
        remote_src: true
        exclude:
          - LICENSE
          - NOTICE
        src: "/tmp/node_exporter-{{ node_exporter_version }}.linux-{{ go_arch }}.tar.gz"
        dest: "/tmp"
        creates: "/tmp/node_exporter-{{ node_exporter_version }}.linux-{{ go_arch }}/node_exporter"
      when: not ansible_check_mode

    - name: Install node_exporter binary
      ansible.builtin.copy:
        remote_src: true
        src: "/tmp/node_exporter-{{ node_exporter_version }}.linux-{{ go_arch }}/node_exporter"
        dest: "{{ _node_exporter_binary_install_dir }}/node_exporter"
        mode: 0755
        owner: root
        group: root
      when: not ansible_check_mode
      notify: restart node-exporter
  when: node_exporter_binary_local_dir | length == 0

- name: propagate locally distributed node_exporter binary
  ansible.builtin.copy:
    src: "{{ node_exporter_binary_local_dir }}/node_exporter"
    dest: "{{ _node_exporter_binary_install_dir }}/node_exporter"
    mode: 0755
    owner: root
    group: root
  when: node_exporter_binary_local_dir | length > 0
  notify: restart node-exporter

- name: Copy the node_exporter systemd service file
  ansible.builtin.copy:
    src: node-exporter.service
    dest: /lib/systemd/system/node-exporter.service
    owner: root
    group: root
    mode: 0644
  notify: restart node-exporter
