---

- name: Install remi8 rpm repo
  become: true
  ansible.builtin.dnf:
    name: "http://rpms.remirepo.net/enterprise/remi-release-8.rpm"
    state: present
    disable_gpg_check: true

- name: Enable php:remi-7.4 repo
  ansible.builtin.copy:
    src: "php-remi-7.4.module"
    dest: "/etc/dnf/modules.d/php.module"
    mode: 0644
    owner: root
    group: root

- name: Instlal php-fpm 7.4 basic components from remi8 rpm repo
  ansible.builtin.dnf:
    update_cache: true
    enablerepo: remi,remi-php7.4,php:remi-7.4
    name:
      - php-fpm
      - php-common
      - php-cli
    state: present
  notify: 
    - start php-fpm

- name: Instlal additional php-fpm 7.4 components from remi8 rpm repo
  ansible.builtin.dnf:
    update_cache: true
    enablerepo: remi,remi-php74
    name:
      - php-mysqlnd
      - php-gd
      - php-ldap
      - php-odbc
      - php-pdo
      - php-xml
      - php-xmlrpc
      - php-mbstring
      - php-snmp
      - php-soap
      - php-curl
      - php-json
      - php-opcache
      - php-readline
    state: present
  notify: 
    - reload php-fpm

- name: Change listen php-fpm 7.4 endpoint to selected ip:port
  ansible.builtin.lineinfile:
    dest: "/etc/php-fpm.d/www.conf"
    regexp: '^\s*listen ='
    line: "listen = {{ php_fpm_listen_ip }}:{{ php_fpm_listen_port }}"
    state: present
    validate: 'php-fpm -ty %s'
  notify: 
    - reload php-fpm
  when: 
   - not ansible_check_mode

- name: Change listen.allowed_clients php-fpm 7.4 to selected
  ansible.builtin.lineinfile:
    dest: "/etc/php-fpm.d/www.conf"
    regexp: '^(;)?\s*listen.allowed_clients ='
    line: "listen.allowed_clients = {{ php_fpm_listen_allowed_clients }}"
    state: present
    validate: 'php-fpm -ty %s'
  notify: 
    - reload php-fpm
  when: 
   - not ansible_check_mode
