---
- name: "Ansible experiments"
  become: true
  hosts: 
    - test
    # - infra
    # - prod
  roles:
    # - preflight
    # - proxy
    # - user
    # - sshd
    # - node-exporter
    # - zabbix-agent
    - firewall
