---
- name: "Ansible experiments"
  become: true
  hosts: 
    # - test
    # - infra
    - prod
  roles:
    # - preflight
    # - proxy
    # - user
    # - sshd
    - node-exporter
    # - zabbix-agent
    # - firewall
  environment:
    http_proxy: http://10.115.23.1:8080
    https_proxy: http://10.115.23.1:8080