export http_proxy="{{ proxy_endpoint }}"
export https_proxy="{{ proxy_endpoint }}"
export ftp_prxy="{{ proxy_endpoint }}"
export no_proxy=".srequest.ru,10.115.0.0/16,localhost,127.0.0.1,::1"

export HTTP_PROXY="{{ proxy_endpoint }}"
export HTTPS_PROXY="{{ proxy_endpoint }}"
export FTP_PROXY="{{ proxy_endpoint }}"
export NO_PROXY=".srequest.ru,10.115.0.0/16,localhost,127.0.0.1,::1"
