---
- name: Add proxy enviroments for all users
  ansible.builtin.template:
    src: "proxies.sh.j2"
    dest: "/etc/profile.d/"
    owner: root
    group: root
    mode: 0644

- import_tasks: apt-proxy.yaml
  when: ansible_os_family == "Debian"

- import_tasks: dnf-proxy.yaml
  when: ansible_os_family == "RedHat" and ansible_distribution_major_version == "8"
 
