[Unit]
Description=node-exporter Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ _node_exporter_system_user }}
Group={{ _node_exporter_system_user }}
# add this flag to activate systemd "--collector.systemd"
ExecStart=/usr/local/bin/node_exporter \
            --web.listen-address=":9100"
Restart=always

[Install]
WantedBy=multi-user.target
